$colors: (
  primary: #ec4f27,
  black: #333,
  border: #eee,
  gray: #999,
  light-gray: #eee
);

$sizes: (
  font-weight-bold: 800,
  font-weight-medium: 700,
  font-weight-regular: 400,
  font-weight-light: 300
);
